@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="container">
        <h2>Welcome to Forsage Nig Limited</h2>
        <p class="message">We are committed to providing exceptional services and solutions to all our clients. Thank you for trusting us!</p>
    </div>
</body>
</html>